WEB_PORT=8080
API_PORT=8081
MONGO_PORT=27017
REDIS_PORT=6379
SKYNET_IMAGE_TAG=0.1.0

MONGO_USERNAME=skynet
MONGO_PASSWORD=change-this-mongodb-password
REDIS_PASSWORD=change-this-redis-password

JWT_SECRET=change-this-jwt-secret-at-least-32-characters
APP_ENCRYPTION_KEY=change-this-app-encryption-key-at-least-32-characters
